.pio
/.idea/.gitignore
/.idea/editor.xml
/.idea/misc.xml
/.idea/vcs.xml
/graphify-out/cache/ast/v0.9.5/5a98484ad201dbfef475216cfc5648a97600b2adfeb17ad866f52a242d4d1b61.json
/graphify-out/cache/ast/v0.9.5/ae86ed237341f96d953dfcf3251603ee54b9f172b96da7aa299b2e5c070b56f3.json
/graphify-out/cache/stat-index.json
/graphify-out/.graphify_analysis.json
/graphify-out/.graphify_chunk_updated.json
/graphify-out/.graphify_detect.json
/graphify-out/.graphify_extract.json
/graphify-out/.graphify_labels.json
/graphify-out/.graphify_python
/graphify-out/.graphify_root
/graphify-out/cost.json
/graphify-out/graph.html
/graphify-out/graph.json
/graphify-out/GRAPH_REPORT.md
/graphify-out/manifest.json
/.claude/skills/graphify/references/add-watch.md
/.claude/skills/graphify/references/exports.md
/.claude/skills/graphify/references/extraction-spec.md
/.claude/skills/graphify/references/github-and-merge.md
/.claude/skills/graphify/references/hooks.md
/.claude/skills/graphify/references/query.md
/.claude/skills/graphify/references/transcribe.md
/.claude/skills/graphify/references/update.md
/.claude/skills/graphify/.graphify_version
/.claude/skills/graphify/SKILL.md
/.claude/CLAUDE.md
/.claude/settings.json
